<nav class="navigation">
  <h1 class="header">
    <a href="#" class="logo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR0yQnQ2VaaZt5CwQpdzkRnebdQR4J_kDwtpBgPjPSwvjlOsEArw" alt="Nike logo"
      />
    </a>
  </h1>
  <ul class="main-nav">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a routerLink="/cruises" routerLinkActive="active">Cruises</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </li>
    <li>
      <a *ngIf="isActive" (click)='toggle()' routerLink="/login" routerLinkActive="active">Log in</a>
      <a *ngIf="!isActive" (click)='toggle()' routerLink="/final" routerLinkActive="active">Log out</a>
    </li>
  </ul>
</nav>